<table class="w-full bg-[#F0F5F5]"><!-- Section 03 - Tiles -->


			
			<tr> <!-- space -->
				<td><p class="text-[25px]">&nbsp;</p></td>
			</tr>
			
			<tr> <!-- Tiles title -->
				<td><p class="text-[#005555] text-[24px] leading-[27.6px] text-center font-bold">Sint cupidatat occaecat ut</p></td>
			</tr>
			
			<tr> <!-- space -->
				<td><p class="text-[25px]">&nbsp;</p></td>
			</tr>
			
			<tr> <!-- space -->
				<td class="text-center pl-[20px] pr-[20px]">
					<table>
						
						<tr>
							<td class="text-center width-[270px] max-w-[270px] sm:w-full sm:inline-block bg-[#FFFFFF] pl-[15px] pr-[15px]"> <!-- Left Box -->
								<table>
									
									<tr>
										<td><p class="text-[15px]"></p></td>
									</tr>
									
									<tr>
										<td class="w-1/5 text-center">
											<x-image
											  class="w-[100px]"
											  imgUrl="Icon.png"
											/>
										</td>
									</tr>
									
									<tr>
										<td><p class="text-[15px]"></p></td>
									</tr>
									
									<tr>
										<td><p class="text-[#005555] text-[20px] leading-[23px] text-center font-bold">Nisi ut ade</p></td>
									</tr>
									
									<tr>
										<td><p class="text-[15px]"></p></td>
									</tr>
									
									<tr>
										<td><p class="text-[#444444] text-[16px] leading-[18.4px] text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<span class="text-[9px] [line-height:0] [vertical-align:6px]">1</span></p></td>
									</tr>
									
									<tr>
										<td><p class="text-[15px]"></p></td>
									</tr>
									
								</table>
							</td>
							
							<td class="sm:w-full sm:inline-block"><p class="w-[20] text-[10]">&nbsp;</p></td>
							
							<td class="text-center width-[270px] max-w-[270px] sm:w-full sm:inline-block bg-[#FFFFFF] pl-[15px] pr-[15px]"> <!-- Right Box -->
								<table>
									
									<tr>
										<td><p class="text-[15px]"></p></td>
									</tr>
									
									<tr>
										<td class="w-1/5 text-center">
											<x-image
											  class="w-[100px]"
											  imgUrl="Icon.png"
											/>
										</td>
									</tr>
									
									<tr>
										<td><p class="text-[15px]"></p></td>
									</tr>
									
									<tr>
										<td><p class="text-[#005555] text-[20px] leading-[23px] text-center font-bold">Duis aute irure</p></td>
									</tr>
									
									<tr>
										<td><p class="text-[15px]"></p></td>
									</tr>
									
									<tr>
										<td><p class="text-[#444444] text-[16px] leading-[18.4px] text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<span class="text-[9px] [line-height:0] [vertical-align:6px]">2</span></p></td>
									</tr>
									
									<tr>
										<td><p class="text-[15px]"></p></td>
									</tr>
									
								</table>
							</td>
						</tr>
						
					</table>
				</td>
			</tr>
			
			<tr> <!-- space -->
				<td><p class="text-[25px]">&nbsp;</p></td>
			</tr>
			
	
</table>
