<table class="w-full"> <!-- Section 02 - Hero -->
	<tr>
		<td>
			<table>
				
				<tr> <!-- Hero image -->
					<td class="w-full sm:w-full text-center"> 
						<x-image
						class="w-[560px]"
						imgUrl="Hero_Image.png"
						/>
					</td>
				</tr>
				
				<tr> <!-- space -->
					<td><p class="text-[25px]">&nbsp;</p></td>
				</tr>
				
				<tr> <!-- Hero Title -->
					<td><p class="text-[#005555] text-[24px] leading-[27.6px] font-bold text-center">Excepteur sint occaecat cupidatat</p></td>
				</tr>
				
				<tr> <!-- space -->
					<td><p class="text-[20px]">&nbsp;</p></td>
				</tr>
				
				<tr> <!-- Hero text -->
					<td><p class="text-[#444444] text-[16px] leading-[18.4px] text-center pl-[40px] pr-[40px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p></td>
				</tr>
				
				<tr> <!-- space -->
					<td><p class="text-[20px]">&nbsp;</p></td>
				</tr>
				
				<tr> <!-- CTA button -->
					<td class="justify-items-center">
						<table>
							<tr>
								<td class="text-[#FFFFFF] text-[20px] leading-[23px] text-center font-bold w-[350px] rounded-xl bg-[#008080] pt-[10px] pb-[10px] ">Ut enim ad minim veniam</td>
							</tr>
						</table>
					</td>
				</tr>
				
				<tr> <!-- space -->
					<td><p class="text-[25px]">&nbsp;</p></td>
				</tr>
				
			</table>
		</td>
	</tr>
</table>
