<table class="w-full"> <!-- Section 04 - Footer -->
<tr>
	<td>
		<table>
				
				<tr> <!-- Line -->
					<td><p class="text-[1px] bg-[#000000] leading-[1px]">&nbsp;</p></td>
				</tr>
				
				<tr> <!-- space -->
					<td><p class="text-[20px]">&nbsp;</p></td>
				</tr>
				
				<tr> <!-- Copyright -->
					<td><p class="text-[#000000] text-[12px] leading-[13.8px] text-center">Sed do eiusmod tempor incididunt ut labore</p></td>
				</tr>
				
				<tr> <!-- space -->
					<td><p class="text-[20px]">&nbsp;</p></td>
				</tr>
				
				<tr>
					<td class="w-full text-center">
						<x-image
						class="w-[100px]"
						imgUrl="Footer_logo.png"
						/>
					</td>
				</tr>
				
				<tr> <!-- space -->
					<td><p class="text-[20px]">&nbsp;</p></td>
				</tr>
		
			</table>
		</td>
	</tr>
</table>
