<table class="w-full"> <!-- Section 04 - Footer -->

				
				<tr> <!-- space -->
					<td><p class="text-[25px]">&nbsp;</p></td>
				</tr>
				
				<tr> <!-- Reference section -->
					<td><p class="text-[#000000] text-[12px] leading-[13.8] font-bold ">Ut enim ad minim:</p></td>
				</tr>
				
				<tr> <!-- space -->
					<td><p class="text-[10px]">&nbsp;</p></td>
				</tr>
				
				<tr> <!-- Reference section -->
					<td><p class="text-[#000000] text-[12px] leading-[13.8] ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></td>
				</tr>
				
				<tr> <!-- space -->
					<td><p class="text-[10px]">&nbsp;</p></td>
				</tr>
				
				<tr> <!-- Reference section -->
					<td><p class="text-[#000000] text-[12px] leading-[13.8] ">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p></td>
				</tr>
				
				<tr> <!-- space -->
					<td><p class="text-[25px]">&nbsp;</p></td>
				</tr>
				
				<tr> <!-- Reference section -->
					<td><p class="text-[#000000] text-[12px] leading-[13.8] font-bold ">Sint occaecat cupidatat:</p></td>
				</tr>
				
				<tr> <!-- space -->
					<td><p class="text-[25px]">&nbsp;</p></td>
				</tr>
				
				<tr> <!-- space -->
					<td>
						<table>
							
							<tr>
								<td><p class="text-[#000000] text-[12px] leading-[13.8] ">1.&nbsp;</p></td>
								<td><p class="text-[#000000] text-[12px] leading-[13.8] ">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></td>
							</tr>
							
							<tr>
								<td><p class="text-[#000000] text-[12px] leading-[13.8] ">2.&nbsp;</p></td>
								<td><p class="text-[#000000] text-[12px] leading-[13.8] ">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat</p></td>
							</tr>
							
						</table>
					</td>
				</tr>
				
				<tr> <!-- space -->
					<td><p class="text-[20px]">&nbsp;</p></td>
				</tr>
				
	
</table>
